@import "tailwindcss";

:root {
  --gray-950: 220 6% 9%;
  --surface-base: hsl(var(--gray-950));
}

body {
  background: var(--surface-base);
  color: var(--color-gray-300);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  color: var(--color-gray-300);
}
